In [2]:
import pandas as pd

In [3]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
s.shape

(5,)

In [7]:
s.dtype

dtype('int64')

In [8]:
s.name = "calories"

In [12]:
s

0    1
1    2
2    3
3    4
4    5
Name: calories, dtype: int64

In [14]:
s[1:3]

1    2
2    3
Name: calories, dtype: int64